<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="Paisa Khai"
    Language="1033"
    Version="1.0.0"
    Manufacturer="Abhishek Dahal"
    UpgradeCode="22515399-078c-4ad7-a583-a3819ff76a26">

    <Package InstallerVersion="500"
             Compressed="yes"
             InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Paisa Khai" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Paisa Khai" />
      </Directory>
    </Directory>
  </Fragment>

</Wix>
